<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>
   <body>
		<h1>RPi GPIO Control</h1>
		<h2> Sensor Status </h2>
		<a href="/Start/Start" class="button">START</a>
		<h3> MOTION ==>  {{ senPIR  }}</h3>
		<br>
		
		<h2> Actuator Status </h2>
		<h3> Gleis 1 ==>  {{ Gleis1  }}</h3>
		<h3> Gleis 2 ==>  {{ Gleis2  }}</h3>
		<h3> Gleis 3 ==>  {{ Gleis3  }}</h3>
		<br>
		<h2> Commands </h2>
		<h3> 
			Gleis1 ==> 
			<a href="/Gleis1/HP0" class="button">HP0</a>  
			<a href="/Gleis1/HP1"class="button">HP1</a>
		</h3>
		<h3> 
			Gleis2 ==> 
			<a href="/Gleis2/HP0" class="button">HP0</a>  
			<a href="/Gleis2/HP1"class="button">HP1</a>
		</h3>
		<h3> 
			Gleis2 ==> 
			<a href="/Gleis3/HP0" class="button">HP0</a>  
			<a href="/Gleis3/HP1"class="button">HP1</a>
		</h3>
		<h3> 
			Gleis4 ==> 
			<a href="/Gleis4/HP0" class="button">HP0</a>  
			<a href="/Gleis4/HP1"class="button">HP1</a>
		</h3>
				<h3> 
			Gleis5 ==> 
			<a href="/Gleis5/HP0" class="button">HP0</a>  
			<a href="/Gleis5/HP1"class="button">HP1</a>
		</h3>
		<h3> 
			Gleis6 ==> 
			<a href="/Gleis6/HP0" class="button">HP0</a>  
			<a href="/Gleis6/HP1"class="button">HP1</a>
		</h3>
		<h3> 
			Gleis7 ==> 
			<a href="/Gleis7/HP0" class="button">HP0</a>  
			<a href="/Gleis7/HP1"class="button">HP1</a>
		</h3>
		<h3> 
			Gleis8 ==> 
			<a href="/Gleis8/HP0" class="button">HP0</a>  
			<a href="/Gleis8/HP1"class="button">HP1</a>
		</h3>	
   </body>
</html>
